.brd {
    border: 1px solid black;
}
td {
    border: 1px solid red;
}
.heading {
    text-decoration:overline double rgb(112, 77, 77);
    text-align: center;
}
.image {
    text-align: center;
}
.image > img {
    width: 400px;
    
}
.par {
    width: 400px;
    background: silver;
    color: #4b1c1c;
}
.par > b{
    color: maroon ;
}

td:hover {
    background: mediumseagreen;
    transition: 400ms;

}
ul > li > ol, ul > li > ul {
    color: orange ;
}
body {
    background: #635a5a;
}